body {
  margin: 0;
  background-color: #f4f1de;
  padding: 10px 10px 10px 10px;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.main__header {
  display: flex;
  background-color: #81b29a;
  padding: 2rem;
  font-size: 1.8rem;
}

.main__header * {
  margin: auto;
  text-align: center;
}

.logo {
  height: 110px;
}

.search__bar {
  background-color: #f2cc8f;
  display: flex;
  padding: 1rem;
  font-size: 1.5rem;
}

.search__bar * {
  margin: auto;
  text-align: center;
}

.donuts__container {
  display: flex;
  flex-wrap: wrap;
}

.eachDonut {
  background-color: #f4f1de;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  font-size: 1.2rem;
}

.donut__name {
  font-size: 1.8rem;
  font-family: 'Pattaya', sans-serif;
}

.donut__image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.donut__description {
  max-width: 250px;
  line-height: 1.2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}
